in python the string data type represent the whole numbers data without fractional component.

# integer creation using user input

In [2]:
a=int(input('enter any number'))
a

enter any number 26

26

In [4]:
type(a)

int

In [6]:
b=input('enter any number')
b

enter any number 11

'11'

In [8]:
type(b)

str

# from above output it is clear that the user input function give default string data type
if we need integer data we have to covert it into integer by using 'int()'.

In [10]:
b=int(b)
b

11

In [12]:
type(b)

int

# Basic Arithmatic operations

In [17]:
# addition
q= int(input('enter first number'))
w= int(input('enter second number'))
e=q+w
e

enter first number 26
enter second number 11

37

In [19]:
# substrction
r=int(input('enter first number'))
t= int(input('enter second number'))
t=r-t
t

enter first number 56
enter second number 23

33

In [21]:
# Multiplication
y=int(input('Enter first number'))
u= int(input('Enter Second number'))
i=y*u
i

Enter first number 22
Enter Second number 22

484

In [25]:
# Power of number
o=int(input('enter any number'))
p=int(input('enter second number'))
a=o**p
a

enter any number 22
enter second number 2

484

In [27]:
# devision
s= int(input('enter any number'))
d= int(input('enter any number'))
f=s/d
f

enter any number 45
enter any number 5

9.0

In [29]:
# Remainder
g=int(input('enter first number'))
h=int(input('enter second number'))
j=g%h
j

enter first number 45
enter second number 5

0

In [33]:
# Quotiont
k=int(input('enter first number'))
l=int(input('enter second number'))
x=k//l
x

enter first number 45
enter second number 5

9

In [37]:
# greater than , less than operations
c=int(input('enter any number'))
v=int(input('enter another nmber'))
b=c>v
b

enter any number 45
enter another nmber 56

False

In [39]:
n=int(input('enter first number'))
m= int(input('enter second number'))
qw=n<m
qw

enter first number 45
enter second number 56

True

In [41]:
# checking equality
we=int(input ('enter first number'))
er=int(input('enter second number'))
rt=we==er
rt

enter first number 50
enter second number 45

False

In [45]:
# Checking inequality
ty=int(input('enter first number'))
yu= int(input('enter second number'))
ui=ty!=yu
ui

enter first number 45
enter second number 52

True

# Logic gates for boolean data

# logic gates are used for the boolean data that is the data which is in the form of 
'zero' and 'one' only. 
So let us understand first the basic gates.

In [63]:
# AND(&) gate. It needs all the values 'one' to get output 'one'. It is a multivariable gate.
a=0
b=1
c=a&b
c

0

In [67]:
# OR(|) gate. It needs at least single value 'one' to get output 'one'.It is a 
# multivariable gate.
a
b
a|b

1

In [69]:
# XOR(^) gate. It gives 'one' in output when only single value is 'one' if both values are
# either 'one' or 'zero' the output will be zero. It is a multivariable gate.
a^b

1

In [75]:
# NOT gate (~) . It is a complementry gate that means if you give 'one' in input
# you will gate 'zero' in the output and viceversa. It is a single variable gate. It gives 
# result in 'int' form
k=1
~k

-2

# Float data

# in python the string data type represent the whole numbers data with fractional component.
# you can do all the arithmatic operations on float like int.

In [80]:
height=float(input('enter your height'))
height
type(height)

enter your height 172.5

float

# built in functions for 'int' and 'float'

In [83]:
# round() this function coverts the float into the nearest int.
a=float(input('Enter any number'))
b= round(a)
b

Enter any number 5.8

6

In [85]:
c= float (input('Enter any number'))
d= round(c)
d

Enter any number 170.2

170

In [97]:
# abs() this functin returns the absolute value of the integer.
e=int(input('enter any number'))
abs(e)

enter any number -45

45

In [93]:
# abs()
f=-45
abs(f)

45

# abs() function does not work on user input when the user input is taken only as input()
because in user input the default data type is string.

In [99]:
n=input('enter any number')
abs(n)

enter any number -45

TypeError: bad operand type for abs(): 'str'

In [103]:
# pow() this function returns the power of the first number indexed by second number
a=int(input('enter first number'))
b=int(input('enter second number'))
c=pow(a,b)
c

enter first number 2
enter second number 2

4

In [105]:
a=int(input('enter first number'))
b=int(input('enter second number'))
c=pow(a,b)
c

enter first number 16
enter second number 2

256

In [111]:
# divmod() this function returs the tuple containing the values pf quotiont and remainder
# by dividing the two integers.
s=int(input('enter any number'))
k=int(input('enter any number'))
j=divmod(s,k)
j

enter any number 26
enter any number 11

(2, 4)

In [113]:
p=int(input('enter any number'))
g=int(input('enter any number'))
m=divmod(p,g)
m

enter any number 56
enter any number 2

(28, 0)

In [119]:
# max() and min() which gives the maximun and minimum number from the given numbers.
a=int(input('enter first number'))
b=float(input('enter second number'))
c=int(input('enter third number'))
d=float(input('enter fourth number'))
e=max(a,b,c,d)
print(e)
f=min(a,b,c,d)
print(f)

enter first number 56
enter second number 56.88
enter third number 25
enter fourth number 25.2

56.88
25