# Tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

a=(4,5)
print(a)
type(a)

In [11]:
b=('keshav','mahesh','joshi',5)
print(b)
type(b)

('keshav', 'mahesh', 'joshi', 5)

tuple

# Access Tuple Items
You can access tuple items by giving the index number, inside square brackets.

In [14]:
print(b)
b[0]

('keshav', 'mahesh', 'joshi', 5)

'keshav'

In [16]:
b[1]

'mahesh'

In [18]:
b[2]

'joshi'

In [20]:
b[3]

5

In [24]:
b[4] # It will shows the index error, because the index given in the input is not 
# available in the given tuple.

IndexError: tuple index out of range

In [26]:
print(b)
b[0:5]

('keshav', 'mahesh', 'joshi', 5)

('keshav', 'mahesh', 'joshi', 5)

In [28]:
b[:]

('keshav', 'mahesh', 'joshi', 5)

# Let's try the slicing is working or not on the tuple.
in the slicing the arguments are , tuple[satrting index : ending index : step].

In [31]:
b[0:4:2]

('keshav', 'joshi')

In [35]:
# let's try another example
print(a)
a[0:2:2]

(4, 5)

(4,)

# A tuple is a collection which is ordered and unchangeable.

In [39]:
k=('dsjalksd','hwadsuj','wijs','uw','llk',543,845,45,2)
print(k)
len(k)

('dsjalksd', 'hwadsuj', 'wijs', 'uw', 'llk', 543, 845, 45, 2)

9

In [41]:
k.append(26)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
k.insert(0,'prathamesh')

AttributeError: 'tuple' object has no attribute 'insert'

In [45]:
k.extend(range(3))

AttributeError: 'tuple' object has no attribute 'extend'


The above all errors are due to the property of 'Tuple' data type. That is the 'Tuple' is immutable that menas you cannot make changes in the tuple onece it is defined.
There is one way to make changes in tuples which is , convert the tuples into lists and make changes in the list and after changes again convert that lists into tuples.

In [47]:
print(k)
k=list(k)
print(k)

('dsjalksd', 'hwadsuj', 'wijs', 'uw', 'llk', 543, 845, 45, 2)
['dsjalksd', 'hwadsuj', 'wijs', 'uw', 'llk', 543, 845, 45, 2]

In [49]:
# now the tuple 'k' is coverted into the list now you can make all the changes as per your
#  requirement.
k.append(26)
k

['dsjalksd', 'hwadsuj', 'wijs', 'uw', 'llk', 543, 845, 45, 2, 26]

In [55]:
k.extend(b)
k

['dsjalksd',
 'hwadsuj',
 'wijs',
 'uw',
 'llk',
 543,
 845,
 45,
 2,
 26,
 'keshav',
 'mahesh',
 'joshi',
 5]

In [57]:
k.extend(range(3))
k

['dsjalksd',
 'hwadsuj',
 'wijs',
 'uw',
 'llk',
 543,
 845,
 45,
 2,
 26,
 'keshav',
 'mahesh',
 'joshi',
 5,
 0,
 1,
 2]

now covert the list into tuple if all changes are done

In [59]:
k=tuple(k)
print(k)

('dsjalksd', 'hwadsuj', 'wijs', 'uw', 'llk', 543, 845, 45, 2, 26, 'keshav', 'mahesh', 'joshi', 5, 0, 1, 2)

In [61]:
type(k)

tuple

# Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [64]:
# let's define the tuple that means we are doing packing of the values into the variable
tuple_1=("keshav","mahesh","joshi",5.6,"feb",241,"second",8754,22)
print(tuple_1)

('keshav', 'mahesh', 'joshi', 5.6, 'feb', 241, 'second', 8754, 22)

In [66]:
# let's understand the unpacking of the tupple. 
(first_name, midle_name, last_name, float, month, int_241, num, int_8754, int_22)= tuple_1

In [68]:
# calling for the first_name
print(first_name)

keshav

In [70]:
print(midle_name)

mahesh

In [72]:
print(last_name)

joshi

In [74]:
print(int_8754)

8754

# Join Two Tuples
To join two or more tuples you can use the + operator:

In [84]:
print(tuple_1)
tuple_2=('nokia','samsung','vivo','oppo','lenovo','motorola','redmi','realme')
print(tuple_2)

('keshav', 'mahesh', 'joshi', 5.6, 'feb', 241, 'second', 8754, 22)
('nokia', 'samsung', 'vivo', 'oppo', 'lenovo', 'motorola', 'redmi', 'realme')

In [86]:
print(tuple_1+tuple_2)

('keshav', 'mahesh', 'joshi', 5.6, 'feb', 241, 'second', 8754, 22, 'nokia', 'samsung', 'vivo', 'oppo', 'lenovo', 'motorola', 'redmi', 'realme')

# Multiply Tuples
If you want to multiply the items of a tuple a given number of times, you can use the * operator:

In [95]:
print(tuple_2*2) # it will prints the each element of given tuple twice.

('nokia', 'samsung', 'vivo', 'oppo', 'lenovo', 'motorola', 'redmi', 'realme', 'nokia', 'samsung', 'vivo', 'oppo', 'lenovo', 'motorola', 'redmi', 'realme')

# Tuple Methods
Python has two built-in methods that you can use on tuples.
1) count( ). Returns the number of times a specified value occurs in a tuple 
2) index( ). Searches the tuple for a specified value and returns the position of where it was found

In [106]:
tuple_2

('nokia', 'samsung', 'vivo', 'oppo', 'lenovo', 'motorola', 'redmi', 'realme')

In [110]:
tuple_2.count('nokia')

1

In [112]:
tuple_2.count('vivo')

1

In [114]:
tuple_2.count('kj')

0

In [116]:
tuple_2.index('vivo')

2

In [118]:
tuple_2.index('realme')

7

In [120]:
tuple_2.clear() # tuple does not supports the clear method.

AttributeError: 'tuple' object has no attribute 'clear'

In [124]:
del tuple_2 #deleting tuple

In [126]:
tuple_2

NameError: name 'tuple_2' is not defined